<h3><a class="btn btn-secondary" href="/produit"><i class="fa fa-plus"></i> Creer Nouveau</a> Liste des produits</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>Quantite</th>
            <th>Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.action}}</td>
            <td>{{this.quantite}}</td>
            <td>{{this.prix}}</td>
            <td>
                <a href="/produit/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/produit/delete/{{this._id}}" onclick="return confirm('Etes vous sur de supprimer ce produit ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
